@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zen Dots";
  src: url("../fonts/Zen_Dots/ZenDots-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("../fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: white;
  font-family: "Zen Dots", sans-serif !important;
}
.nameText {
  font-family: "Sedgwick Ave Display", sans-serif;
  color: #e6d789; /* Set the text color to a specific color */
  text-decoration-color: #e6d789 !important;
}

.aboutMeP {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  color: #fff; /* Text color */
  margin-bottom: 1rem; /* Bottom margin */
  text-align: left; /* Center align the text */
}

.about-me-box {
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the background color and opacity */
  padding: 20px; /* Adjust the padding as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
  margin-bottom: 10px; /* Adjust the margin bottom as needed */
  max-width: 820px; /* Adjust the maximum width as needed */
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the box horizontally */
}

.buttons-container {
  display: flex;
  gap: 10px; /* Adds space between the buttons */
  margin-top: 20px; /* Adjust as needed */
}

/* Apply smaller button size on screens smaller than 768px */
@media (max-width: 768px) {
  .buttons-container {
    gap: 3px; /* Reduce the space between buttons */
    margin-bottom: 40px; /* Adjust as needed */
  }

  .menu-button {
    font-size: 0.8rem; /* Reduce button font size */
    padding: 8px 12px; /* Reduce button padding */
  }
}

.custom-navbar {
  max-width: 1296px;
  margin: 0 auto;
}

/* Customizing link colors */
.custom-navbar .nav-link {
  color: #ffffff; /* Default link color */
}

.custom-navbar .nav-link:hover {
  color: #8998e6; /* Hover color */
}

.custom-navbar .nav-link.active {
  color: #e6d789 !important; /* Active link color */
}

.menu-button {
  color: #e6d789; /* Passive text color */
}

.menu-button:hover {
  color: #8998e6; /* Text color on hover */
}

.github-icon:hover {
  color: rgb(255, 255, 255); /* Change to your desired color when hovering */
}

.linkedin-icon:hover {
  color: rgb(255, 255, 255); /* Change to your desired color when hovering */
}

.custom-footer,
.nav-item {
  max-width: 1296px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  margin-top: auto;
}
.footer-text {
  font-size: 0.6rem;
}

.matrix-rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.matrix-line {
  color: #e6d789;
  font-family: "Courier New", monospace;
  font-size: 20px;
  white-space: nowrap;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .green-text {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .white-rabbit-animation {
    width: 100%;
  }
}

.white-rabbit-animation {
  animation: slideRight 8s linear infinite;
}
.white-rabbit-animation img {
  border-radius: 0;
  box-shadow: none;
}

.fixed-bottom-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1296px;
  width: 100%;
}

@keyframes slideRight {
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10vw);
    opacity: 0;
  }
  51% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden-rabbit {
  display: none;
}

.alert {
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.alert.success {
  background-color: #4caf50;
  color: #fff;
}

.alert.danger {
  background-color: #f44336;
  color: #fff;
}

.project-card {
  background-color: #f7f7f7; /* Background color */
  border-radius: 10px;
  overflow: hidden; /* Prevent overflow content from showing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 20px; /* Padding inside the card */
}

.project-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card img {
  object-fit: cover;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: #333; /* Title color */
}

.project-card p {
  color: #666;
  font-size: 1rem;
  display: none;
  margin-bottom: 1rem; /* Add margin to the bottom */
}

.project-card:hover p {
  display: block;
}

.project-card .flex {
  justify-content: flex-end;
  padding-top: 10px; /* Add padding to the top */
}

.project-card a {
  text-decoration: none;
  color: #0daa80;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 8px 16px; /* Add padding to the link */
  border-radius: 5px; /* Add border radius to the link */
}

.project-card a:hover {
  color: #8998e6;
  background-color: rgba(0, 168, 107, 0.1); /* Add background color on hover */
}

/**/
